
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env

# IDEs
.vscode/
.idea/

# Flask specific
instance/

# SQLite database
*.db
*.sqlite
*.sqlite3

# Operating System
.DS_Store
thumbs.db

# Editor backup files
*~
